<template>
  <div class="hello">
    <h1>Please press any key :)</h1>
    <h1 class="keyCode">
      {{pressedKeyCode}}
    </h1>
    <h1>{{pressedKey}}</h1>

    <h6>myazarc</h6>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      pressedKeyCode: null,
      pressedKey: null,
    };
  },
  created() {
    window.addEventListener('keydown', (e) => {
      e.preventDefault();
      this.pressedKeyCode = e.keyCode;
      this.pressedKey = e.key;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
a {
  color: #42b983;
}

.keyCode {
  font-size: 150px;
}
</style>
